@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #000 url(https://ik.imagekit.io/mtmwll7w3/bg-page-title.jpg?updatedAt=1711466970308) repeat 50%;
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
}